@charset "UTF-8";
/*CSS Doc*/

.hidden
{
	display: none;
}

#hide
{
  display: none;
}

/*makes responsive*/
.responsive {
	max-width: 100%;
	height: auto;
  }

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #c2b28f;
}

.container {
	margin: 0 auto;
	background-color: #fff;
	max-width: 1200px;
  }

  /* -------------------------------------------------------------------*/

header {
	background: #c2b28f;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #007291 3px solid;
}


#title
{
	font-size: 45px;
	color: #e86f68;
	text-align: center;
	width: 100%;
}

/*body*/

#body
{
	text-align: center;
	color: #83b799;
}

#boxes h2
{
	font-size: 45px;
	text-align: center;
}



.heroImage img
{
	width: 100%;
}

.heroimage p{
	text-align:center;
}



/*#boxes img
{
	width: 80%;
}*/


/*footer*/

#backToTopBut 
{
  background-color: #808080;
  color: #fff;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  font-family: 'Averia Serif Libre', cursive;
  
}

footerInfo a{
	width: 100%;
}

@media screen and (min-width: 540px)  {

	#boxes h2 
	{
		font-size: 60px
	}

	.heroImage p
	{
		font-size: 20px;
	}

	#title
	{
		font-size: 60px;
	}
}


@media screen and (min-width: 640px) {

	#boxes 
	{
		display: flex;
		flex-direction: row;
	}

	.box2 h2
	{
		margin-right: 30px;
	}

	.box1 h2
	{
		margin-right: 10px;
	}
	
	.box1{
		margin-top: 80px;
	}
	
	.box2 h2 
	{
		width: 100%;
	}


	#backToTopBut
	{
		display: none;
	}


}


@media screen and (min-width: 900px)
{
	.heroImage img {
		height:400px;
		width: 100%;
	}
}



.roundShadow
{
	{
		box-shadow: 10px -10px #CCC;
	  }
}